* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../фон/Фон\ 1\ \(2\).png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

header {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;

  color: #ffffff;
}

.logo__link:hover {
  color: #3cb878;
}

.header__content {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  padding-right: 25px;
  border-right: 1px solid rgba(255, 255, 255, 0.9);
}

.nav__icon {
  fill: white;
}

.nav__icon:hover {
  stroke: red;
  cursor: pointer;
}

.nav__item:not(:last-child) {
  margin-right: 27px;
}

.greeting {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: #ffffff;

  margin-left: 27px;
}

.greeting__link {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: #ffffff;
}

.greeting__link:hover {
  color: #3cb878;
}

main {
  height: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.form__container {
  width: 444px;
  height: 584px;
  padding: 31px 60px 38px;

  background-color: white;

  position: relative;
}

.green__box {
  width: 18px;
  height: 18px;
  background: #3cb878;

  position: absolute;
  top: 30px;
  left: 0;
}

.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
}

.signUp {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;

  color: #434343;
}

.logIn {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: #3cb878;
}

.logIn:hover {
  text-decoration: underline;
}

.facebookAndGoogle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 31px;
}

.facebook {
  width: 160px;
  height: 48px;

  padding: 12px 18px;
  background: #305db8;
  border-radius: 5px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;

  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;

  color: #ffffff;
}

.facebook:hover {
  background-color: #022263;
  cursor: pointer;
}

.facebook img {
  padding-right: 18.77px;
  margin-right: 18px;

  border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.google {
  width: 160px;
  height: 48px;

  padding: 12px 18px;
  background: #df4a32;
  border-radius: 5px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;

  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;

  color: #ffffff;
}

.google:hover {
  background-color: #ab1f09;
  cursor: pointer;
}

.google img {
  padding-right: 18.77px;
  margin-right: 18px;

  border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.or-box {
  text-align: center;
  width: 324px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 12px;
}

.text-or-box {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  position: relative;
  color: #848484;
}

.text-or-box::before {
  display: block;
  width: 152px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #f2f2f2;
  right: 18px;
  top: 50%;
}

.text-or-box::after {
  display: block;
  width: 152px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #f2f2f2;
  top: 50%;
  left: 18px;
}

.form__input {
  width: 322px;
  padding: 15px 19px;
  margin-bottom: 15px;

  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: none;
}

.form__input:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.last__input {
  margin-bottom: 12px;
}

.check {
  margin-bottom: 20px;
}

.agree {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-left: 8px;

  color: #434343;
}

.checkbox__link {
  color: green;
}

.checkbox__link:hover {
  text-decoration: underline;
}

.form__button {
  width: 324px;
  height: 46px;

  padding: 16px 99px;

  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;

  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  color: white;

  border: none;
  outline: none;
}

.form__button:hover {
  background-color: #01813f;
  cursor: pointer;
}
