* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
/* --------Header menu--------  */
.navmenu {background: #444;
    position: relative;
    overflow: hidden;
    height: 40px;
    margin: 0 0}

ul {
    list-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
    font: 14px Arial, Helvetica, sans-serif;
    height: 40px
}

a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 40px;
}
a:hover {
    background-color: #666;
}

li {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 10px;
    height: 40px
}
/* -------------end part of menu------------- */
.main {
    text-align: center;
}

button {
    background: linear-gradient(to top, #55EFCB 0%, #5BCAFF 100%);
    height: 25px;
    width: 140px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, .4);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
    background: rgba(84, 12, 199, 0.2);
  }
.mainText {
    padding: 20px 40px;
}

h1 {
    font-size: 20px;

}

img{
    margin-top: 20px;
    width: 50%;
}
 .footer{
     float: right;
     padding-right: 20px;
 }
 x:visited