* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    padding: 40px;
    margin: 0 auto;
}

.inputWrapper {
    display: flex;
    align-items: center;
}

.text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: Black;

    margin-right: 20px;
}

.price {
    font-family: "Montserraat",sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;


    padding: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}

.result {
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: green;

    margin-right: 100px;
    margin-left: 70px;
}

.error {
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: red;

    margin-left: 70px;

    display: block;
    margin-top: 10px;
}

.resultBlock {
    display: flex;
    align-items: center;

    width: 100%;

    margin-bottom: 10px;
}

.close {
    font-family: "Montserrat",sans-serif;
    font-size: 30px;
    font-weight: 900;

    padding: 10px;
    border-radius: 5px;

    background-color: gainsboro;
    border: 1px solid black;
    outline: none;
    cursor: pointer;

    display: none;
}