/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1280px;
  background: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0 auto;
}

.logo1 {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}

.logo2 {
  display: inline-block;
  margin-bottom: 38px;
  font-size: 80px;
  line-height: 94px;
  color: #2d91c0;
  text-decoration: none;
}

.nav__list {
  width: 100%;
  text-align: center;
  background: #35444f;
  text-decoration: none;
}

.nav__list-item {
  display: inline-block;
  padding-top: 26px;
  padding-bottom: 20px;
  border-left: 1px solid #ffffff;
}

.nav__list-node {
  border-right: 1px solid #ffffff;
}

.nav__list-item:hover {
  background: #222f3a;
}

.nav__list-link {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  padding: 26px 40px 19px 40px;
  text-decoration: none;
}

.section-main {
  display: flex;
}

.list-menu {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  width: 344px;
  margin-top: 48px;
}

.list-menu-item {
  font-size: 27px;
  line-height: 27px;
  padding: 26px 0px 25px 44px;
}

.list-menu-link {
  color: #495863;
  text-decoration: none;
}

.list-menu-item:hover {
  background: #dbdbdb;
  color: #35444f;
}

.list-menu-link:hover {
  padding-left: 30px;
}

.box-photo-logo {
  width: 100%;
  height: 529px;
  margin-bottom: 37px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}

.photo-logo {
  justify-content: start;
  width: 320px;
  height: 381px;
  margin: 75px 297px 73px 297px;
}

.info {
  display: flex;
  flex-direction: column;

  width: 885px;
  margin-left: 50px;
  margin-top: 48px;
}

.photo-description {
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #2c2c2c;
}

.footer-description-margin {
  margin-bottom: 34px;
}

.footer {
  margin: 0 auto;
  padding: 20px 40px;
  background: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 928px;
}
.footer__menu--link{
  text-decoration: none;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;}

.footer__menu--link:hover {
  border-bottom: 1px solid #6295AE;
  padding-bottom: 5px;
  color: #6295AE;
}

.footer__text{
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}