@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1900px;
  text-align: center;
  background: none;
}

.header {
  background: url('./img/header-background/bg/header-bg.png');
  background-attachment: fixed;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #313131;
}

.header-logo {
  display: flex;
}

.header-image {
  padding: 0 27px 0 29px;
}
.header-search {
  width: 68px;
  height: 70px;
  margin-top: 0px;
  margin-left: 0px;
  background: #000000;
}

.nav-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.navmenu {
  display: flex;
  align-items: center;
}

.navmenu-item {
  list-style-type: none;
  padding-left: 35px;
}

.navmenu-item:first-child {
  padding-left: 0;
}

.navmenu-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.navmenu-link:hover {
  color: #14b9d5;
}

.fav-search {
  padding: 26px;
}

.fav-search:hover {
  background: #000000;
}

.header-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 163px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
}

.header-buttons {
  padding-top: 44px;
  padding-bottom: 74px;
}

.header-btn {
  width: 170px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding: 16px 19px;
  border-radius: 5px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

.btn-green {
  background: #89ca62;
}

.btn-blue {
  background: #14b9d5;
}

/* popular posts  */

.posts {
  background: #f2f2f2;

  padding-top: 49px;
  padding-bottom: 72px;
}

.posts__title {
  font-family: 'Open' Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;

  color: #18b4cf;

  margin-bottom: 52px;
}

.posts__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  margin: 0 auto;
  max-width: 1170px;
}

.posts__item {
  max-width: 370px;
}

.posts__item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.posts__item:nth-child(-n+3) {
  margin-bottom: 30px;
}

.posts__item:nth-child(4) {
  margin-top: -121px;
}

.posts__item:nth-child(6) {
  margin-top: -90px;
}

.posts__img {
  display: block;
}

.posts__description {
  padding: 21px 15px;
  background: white;
}

.posts__text {
  font-family: "Open" Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;

  color: #353a3d;
}

/* -.-.-.-.-.-.-.-.-.-.--..--.-.-.--. */

.title-common {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  padding-top: 49px;
  margin-bottom: 52px;
}

.clients {
  background: url('./img/Shape\ 22\ \(1\).png');
  background-size: cover;
  background-attachment: fixed;
  height: 588px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 240px 3px 230px;
}

.clients-title {
  grid-column: 2;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
}

.border {
  grid-column: 2;
  width: 60px;
  border-bottom: 1px #18b4cf solid;
  margin: 0 auto;
}

.clients-logo-container {
  display: grid;
  grid-row: 3;
  grid-column: 2;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 58px;
}

.rated-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.rated-image {
  width: 100%;
}

/*===========================*/

.news-item-wrapper {
  width: 1170px;
  display: grid;
  margin: 0 auto;
  grid-gap: 42px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 35px;
  grid-template-areas:
    'top-wide top-wide top-wide-text small-top .'
    'big-left big-left big-right big-right .'
    'big-left-bottom big-left-bottom big-right-bottom big-right-bottom .'
    'small-bottom wide-bottom wide-bottom wide-bottom .';
}

.top-wide {
  grid-area: top-wide;
  display: grid;
  grid-template-columns: 483px 373px;
  grid-template-rows: 279px;
}



.top-wide-wrapper {
  max-height: 259px;
}

.small-top {
  grid-area: small-top;
}

.big-left {
  grid-area: big-left;
}

.big-right {
  grid-area: big-right;
}

.big-left-bottom {
  grid-area: big-left-bottom;
}

.big-right-bottom {
  grid-area: big-right-bottom;
}

.small-bottom {
  grid-area: small-bottom;
}

.wide-bottom {
  grid-area: wide-bottom;
  display: grid;
  grid-template-columns: 483px 373px;
}


.news-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: right;
  padding: 15px;
  background: #f9f7f7;
}

.news-description {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: right;
  color: #5b6469;
  padding-right: 15px;
  text-align: right;
  background: #f9f7f7;
}

.news-image {
  width: 100%;
}

/*======== footer =================*/

.footer {
  background: #000000;
  display: grid;
 
  grid-template-areas: 'footer-text footer-text 1fr logo-wrapper .';
}

.footer-text {
  grid-area: footer-text;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  align-self: center;
}

.logo-wrapper {
  grid-area: logo-wrapper;
  padding: 30px 0;
  display: flex;
  align-items: start;
  justify-content: end;
}

.footer-img {
  align-items: center;
  justify-content: center;
}
